* {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0;
}

/* Opening section */
h1 {
    padding: 20px;
    background-color: #eddfef;
}

.opening {
    background-color: #eddfef;
    display: flex;
    justify-content: space-around;
}

.opening-image {
    border-radius: 50%;
    padding: 10px;
}

.about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.about-me-info {
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    font-size: xx-large;
}

/*2nd Section*/
.passion {
    background-color: #d5cfe1;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.passion-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.passion-head {
    text-align: center;
}

.passion-para {
    font-size: xx-large;
    text-align: center;
    width: 400px;
}

/* 3rd section */

.involve-section {}


/* footer */
.footer {
    background-color: #eddfef;
    text-align: center;
    padding: 20px;
}